
.main-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 40px;
}
.pokeCard{
    margin: 30px;
    border: 1px solid;
    width: 300px;
    background-color: rgb(255, 65, 65);
    text-align: center;
    box-shadow: 10px 10px 20px 10px grey;
}
.imgcard{
    width: 150px;
}
.cardDescription{
    background-color: white;
    padding: 20px;
}
.description{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.btnview{
    background: none;
    border: none;
    font-size: 15px;
    color: rgb(79, 91, 255);
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    color: white;
    background-color: rgb(82, 82, 221);
}
.btnback{
    background-color: rgb(154, 154, 192);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}
.imgdetail{
    max-width: 250px;
    padding: 30px;
}
.detail-container{
    padding: 40px;
    background-color: yellow;
    width: min-content;
    border: 2px solid black;
    border-radius: 2rem;
    font-size: 1.3rem;
    font-family: cursive;
    line-height: 1;
    margin: auto;
}

.search-container {
    text-align: center;
}
.search-container ul {
    background-color: yellow;
    position: absolute;
    left: 10%;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding: 0.5rem;
    text-transform: capitalize;
    line-height: 1.2;
    text-align: left;
    font-family: cursive;
    list-style-type: none;
}

.inputsearch {
    border-radius: 8px;
    padding: 10px;
    font-size: 1.3rem;
    width: 80%;
    color: red;
    border-color: red;
    font-weight: 600;
}

.inputsearch:focus {
    border-color: red;
}
.navbarhome{
    text-align: center;
}
.navbarcompare{
    text-align: center;
}
.btnhome{
    background: none;
    color: white;
    border: none;
    height: 50px;
    width: 70px;
    cursor: pointer;
}
.divnavbar{
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 70px 70px;
    background-color: rgb(62, 62, 88);
    height: 50px;
}

.pokemon-checkbox {
    display: grid;
    grid-template-columns: 20px min-content;
    text-transform: capitalize;
    align-content: center;
    column-gap: 0.2rem;
    cursor:pointer;
}

.checkbox-container {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    padding: 2rem;
}

.selected-item {
    color: red;
    font-weight: 600;
    text-decoration: underline;
}
.datacompare{
    display: grid;
    grid-template-rows: auto auto;
    padding: 20px;
    background-color: yellow;
    border-radius: 2rem;
    margin-right: 30px; 
}
.selected-pokemons{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    justify-content: center;
}
.descriptioncompare{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.btndelete{
    background: none;
    border-radius: 100%;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}
.divbtndelete{
    text-align: end;
    align-items: center;
}

.type-mached{
    font-weight: 600;
    color: red;
}
.carrousel{
    display: grid;
    grid-template-columns: auto auto auto;
}
.container{
    padding: 30px;
    text-align: center;
}

.carrouselinfo{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.btncarrouselbefore{
    align-self: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.btncarrouselnext{
    align-self: center;
    border-bottom-left-radius: 30px;
}